@import "colors";
@import "typography";
@import "functions";

#pattern {
  h4 {
    padding-bottom: 5px;
  }

  .materials {
    @include adjust-font-size-to(12px);
  }

  .material {
    padding: 10px 0px;
  }

  ul.separated {
    padding-left: 20px;
    li {
      list-style-type: circle;
    }
  }

  #abbreviations {
    @include adjust-font-size-to(12px);
    @include border-top;
    @include border-bottom;
  }

  .pattern-version {
    @include adjust-font-size-to(12px);
    padding-top: 20px;
  }
}
