#about
  .header
    h1
      span.text-teal art
      span.text-red craft
      span.text-orange code
    h2 about

.content
  section
    h3 Who are you?
    p
      span artcraftcode was created by
      a(href='http://www.ravelry.com/people/feministy') &nbsp;Liz Abinante
      span : software engineer, sometimes knitwear designer, and proud owner of endless curiosity.

  section
    h3 What is this?
    p artcraftcode is an experimental programming project designed to help make it easier to produce highly-customizable knitting patterns for modern knitters. The goal is to offer a collection of free patterns, some of which are customizable while others are not.
    br
    p The artcraftcode platform helps to reduce the overhead associated with calculating pattern sizes, yardage, and complicated instructions, enabling designers to spend less time number crunching and more time designing.
    br
    p In addition to publishing patterns, artcraftcode will include conversion calculators, simple pattern generators, and themed pattern collections.
    br
    p artcraftcode is an
      a(href='https://github.com/ArtCraftCode/artcraftcode.com')&nbsp;open source project.

  section
    h3 Will you publish my pattern?
    p As artcraftcode grows, we will offer free patterns from other designers. Interested in having your patterns hosted by artcraftcode? Email us at hello at artcraftcode.com!