@import "colors";
@import "layout";
@import "typography";
@import "responsive";

// tablet sizes below
// mobile sizes below
.home {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);

  .featured {
    padding-bottom: 120px;
    h3 {
      @include adjust-font-size-to(48px);
      margin: 10px;
    }
    margin: 0 auto;
    text-align: center;
  }

  a {
    color: lighten(color(brand_gray), 60%);
    text-decoration: none;
    &:hover {
      color: color(brand_teal);
    }
  }

  .branding {
    padding-top: 20px;
    margin: 0 auto;
    h1 {
      @include adjust-font-size-to(124px);
      text-align: center;
      padding: 0px 20px;
      margin: 0;
      color: $white;
    }
    @media (max-width: map-get($breakpoints, acceptable)) {
      h1 {
        padding: 0px 2px;
      }
    }
  }

  .pattern {
    padding: 10px 20px;
  }

  .pattern-image {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
    &:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
    }
  }

  .flex-grid {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    .cell {
      @include flex(0 0 25%);
      padding: 0;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: map-get($breakpoints, tablet)) {
  .home {
    .branding h1 {
      @include adjust-font-size-to(72px);
    }

    .flex-grid .cell {
      @include flex(0 0 50%);
    }

    #footer {
      padding: 20px;
    }
  }
}

@media (max-width: map-get($breakpoints, tablet)) {
  .home {
    .branding h1 {
      @include adjust-font-size-to(96px);
      padding: 50px 0px;
      span {
        display: block;
      }
    }

    .flex-grid .cell {
      @include flex(0 0 100%);
      .pattern {
        padding-top: 0px;
        padding-bottom: 120px;
      }
    }

    #footer {
      padding: 20px;
    }
  }
}

