#pdf {
  @include adjust-font-size-to(12px);
  a {
    color: lighten(color(brand_gray), 20%);
  }

  img.scaled {
    width: 100%;
  }

  img.small {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .flex-grid--flush .cell {
    @include flex(0 0 50%);
  }

  .materials {
    margin: 0px 0px 40px 0px;
  }

  .section {
    padding-bottom: 20px;
    margin: 0px 0px 40px 0px;
    &.no-bottom {
      padding-bottom: 0px;
    }
  }

  h1 {
    font-family: $accent;
    text-transform: uppercase;
    @include adjust-font-size-to(36px);
    &.small {
      @include adjust-font-size-to(18px);
    }
  }

  h2 {
    @include adjust-font-size-to(24px);
    font-weight: 300;
    text-transform: lowercase;
  }
  
  h3 {
    text-transform: lowercase;
    font-weight: 300;
    font-family: $font;
    border-bottom: 1px dotted lighten(color(brand_gray), 50%);
    @include adjust-font-size-to(18px);
  }

  .row {
    .number {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .abbreviations {
    .small, .cell-small {
      font-weight: 600;
    }
  }
}