// degrades at 1280px
// optimal at 1440 

// max widths
$breakpoints: (
  optimal: 1440px,
  acceptable: 1280px,
  tablet: 960px
);

@media (max-width: map-get($breakpoints, acceptable)) {
  #container {
    max-width: map-get($breakpoints, acceptable) - 200;
  }
}

@media (max-width: map-get($breakpoints, tablet)) {
  #container {
    max-width: map-get($breakpoints, tablet) - 200;
  }
}