.separator-top
  h3 Pattern notes

  section
    h4 Construction
    p This pattern is knit flat and sewn together when you're finished. The pattern doesn't call for a provisional cast on, but if you prefer to use seam together live edges, you could use a provisional cast on without impacting the overall appearance of the cowl.
    br
    p As written, all right leaning lace repeats are worked with MC, and all left leaning are worked with CC.

  section
    h4 Modifications

    h5 Height
    p The finished cowl is really tall (this is awesome). But! If this isn't your cup of tea, adjust the number of stitches CO to any multiple of 8 and you'll be on your merry way. You could also make it larger if you want.

    br
    h5 Circumference
    p This is a standard, single-wrap cowl. To make a cowl that wraps twice (or even three times!), grab a ton of yarn and just keep knitting until you've reached the desired size. Alternate the colors and patterns whenever you feel motivated.

    br 
    h5 Yarn weight
    p Because this is so simple, it can be knit in any yarn weight you like. Just remember to adjust the CO multiple by 8 and have plenty of yarn handy.

.separator-top
  h3 Instructions

  section
    p Using MC, CO 97 sts. 

  section
    h4 Lace: MC (Right leaning)
    h4 Lace: CC (left leaning)

  section
    h4 Finishing

    p BO all sts. Using mattress stitch, sew the CO and BO edge together. Block and wear with love.
