.separator-top
  h3 Pattern notes

  section
    h4 Construction
    p This pattern is knit flat and sewn together when you're finished. The pattern doesn't call for a provisional cast on, but if you prefer to use seam together live edges, you could use a provisional cast on without impacting the overall appearance of the cowl.
    br
    p As written, all right leaning lace repeats are worked with MC, and all left leaning are worked with CC.
    br
    p This cowl is really tall: tall enough that you can wear it around your neck and over your head at once (see photos).

  section
    h4 Modifications

    h5 Height
    p The finished cowl is really tall (this is awesome). But! If this isn't your cup of tea, adjust the number of stitches CO to any multiple of 8 and you'll be on your merry way. You could also make it larger if you want.

    br
    h5 Circumference
    p This is a standard, single-wrap cowl. To make a cowl that wraps twice (or even three times!), grab a ton of yarn and just keep knitting until you've reached the desired size. Alternate the colors and patterns whenever you feel motivated.

    br 
    h5 Yarn weight
    p Because this is so simple, it can be knit in any yarn weight you like. Just remember to adjust the CO multiple by 8 and have plenty of yarn handy.

.separator-top
  h3 Instructions

  section
    p Using MC, CO 97 sts. 
    p Using MC, work 3 repeats of Right Lace motif.
    p Using CC, work 1 repeats of Left Lace motif.
    p Using MC, work 3 repeat of Right Lace motif.
    p Using CC, work 1 repeats of Left Lace motif.
    p Using MC, work 4 repeat of Right Lace motif.
    p Using CC, work 3 repeats of Left Lace motif.

  section
    h4 Lace: MC (Right leaning)
    p Row 1 (RS): k4, *k6, k2tog, yo, repeat from * to last 5 sts, k5.
    p Row 2 (WS): k4, p1, *k1, p7, repeat from * to last 4 sts, k4.
    p Row 3: k4, *k5, k2tog, yo, p1, repeat from * to last 5 sts, k5.
    p Row 4: k4, p1, *k2, p6, repeat from * to end.
    p Row 5: k4, *k4, k2tog, yo, p2, repeat from * to last 5 sts, k5.
    p Row 6: k4, p1, *k3, p5, repeat from * to end.
    p Row 7: k4, *k3, k2tog, yo, p3, repeat from * to last 5 sts, k5.
    p Row 8: k4, p1, *k4, p4, repeat from * to end.
    p Row 9: k4, *k2, k2tog, yo, p4, repeat from * to last 5 sts, k5.
    p Row 10: k4, p1, *k5, p3, repeat from * to end.
    p Row 11: k4, *k1, k2tog, yo, p5, repeat from * to last 5 sts, k5.
    p Row 12: k4, p1, *k6, p2, repeat from * to end.
    p Row 13: k4, *k2tog, yo, p6, repeat from * to last 5 sts, k5.
    p Row 14: k4, p1, *k7, p1, repeat from * to end.

  section
    h4 Lace: CC (left leaning)
    p Row 1 (RS): k5, *yo, ssk, k6, repeat from * to last 4 sts, k4.
    p Row 2 (WS): k4, *p7, k1, repeat from * to last 5 sts, p1, k4.
    p Row 3: k5, *p1, yo, ssk, k5, repeat from * to last 4 sts, k4.
    p Row 4: k4, *p6, k2, repeat from * to last 5 sts, p1, k4.
    p Row 5: k5, *p2, yo, ssk, k4, repeat from * to last 4 sts, k4.
    p Row 6: k4, *p5, k3, repeat from * to last 5 sts, p1, k4.
    p Row 7: k5, *p3, yo, ssk, k3, repeat from * to last 4 sts, k4.
    p Row 8: k4, *p4, k4, repeat from * to last 5 sts, p1, k4.
    p Row 9: k5, *p4, yo, ssk, k2, repeat from * to last 4 sts, k4.
    p Row 10: k4, *p3, k5, repeat from * to last 5 sts, p1, k4.
    p Row 11: k5, *p5, yo, ssk, k1, repeat from * to last 4 sts, k4.
    p Row 12: k4, *p2, k6, repeat from * to last 5 sts, p1, k4.
    p Row 13: k5, *p6, yo, ssk, repeat from * to last 4 sts, k4.
    p Row 14: k4, *p1, k7, repeat from * to last st, p1.

  section
    h4 Finishing

    p BO all sts. Using mattress stitch, sew the CO and BO edge together. Block and wear with love.
