h3 Instructions
  span(ng-if='custom.size_label').text-orange&nbsp;&#9733;&nbsp;
  {{custom.size_label}}

p Using smallest needle with CC and waste yarn, provisionally CO {{custom.cast_on}} sts.

p pm and join for knitting in the round, taking care not to twist.

section
  h4 Brim
  p k all sts for {{custom.brim_rows}} rows.
  p Next round: switch to MC and largest needle. k all sts.
  p Next round: p all sts.
  p Using largest circular needle, k all sts for {{custom.brim_rows}} rows (approximately {{custom.brim_height}}"/{{custom.brim_height | inToCm}}cm).

section
  h4 Brim fold
  p This requires a little dexterity and some thinking, but really it's just a bunch of fancy knit two togethers. Once you have it down, I promise it goes quickly!
  br
  p Place the provisionally CO stitches onto your original smaller needle. Fold the CC brim up inside of your hat so the two sets of needles are next to each in other. In front you should have your working MC on the largest needle, in back you should have your CC brim on the smallest needle. The wrong sides of each color should be hidden.
  br
  p Next round: Using your MC and largest needle, knit the first st from your larger needle together with the first st from your smaller needle and remove both sts off of their needles. The st you just made should be on your larger working needle.
  br
  p By the end of this round, you should have {{custom.cast_on}} MC sts on your largest needle, and no sts on your smallest needle.

section
  h4 Body

  p Work body in the Garter Rib pattern until hat measures approximately {{custom.brim_height + custom.body_height}}"/{{custom.brim_height + custom.body_height | inToCm}}cm from CO edge. It doesn't matter if you end the Garter Rib repeat on Round 1 or Round 2.
  br
  h5 Garter Rib
  p Round 1: p3, k1.
  p Round 2: k all sts.

section
  h4 Decreases
  p
    em Switch to your DPNs when the number of sts becomes too small to manage on circular needles.
  br
  p If desired, you can continue to work the crown decreases in the Garter Rib pattern.
  br
  div(ng-hide='custom.babyDecreases() || custom.decrease_4')
    p Round 1: *k7, k2tog, rpt from * to end.
    p Rounds 2, 4, 6, 8: k all sts.
    p Round 3: *k6, k2tog, rpt from * to end.
    p Round 5: *k5, k2tog, rpt from * to end.
    p Round 7: *k4, k2tog, rpt from * to end.
    p Round 9: *k3, k2tog, rpt from * to end.
    p Round 10: *k2, k2tog, rpt from * to end.
    p Round 11: *k1, k2tog, rpt from * to end.
    p Round 12: *k2tog, rpt from * to end.
  div(ng-show='custom.babyDecreases() && !custom.decrease_4')
    p Round 1: *k4, k2tog, rpt from * to end.
    p Rounds 2, 4: k all sts.
    p Round 3: *k3, k2tog, rpt from * to end.
    p Round 5: *k2, k2tog, rpt from * to end.
    p Round 6: *k1, k2tog, rpt from * to end.
    p Round 7: *k2tog, rpt from * to end.
  div(ng-if='custom.decrease_4')
    p Round 1: *k{{custom.decrease_multiple}}, k2tog, rpt from * to end.
  div(ng-if='custom.decrease_4 && !custom.babyDecreases()')
    p Round 2, 4, 6, 8, 10, 12: k all sts.
    p Round 3: *k7, k2tog, rpt from * to end.
    p Round 5: *k6, k2tog, rpt from * to end.
    p Round 7: *k5, k2tog, rpt from * to end.
    p Round 9: *k4, k2tog, rpt from * to end.
    p Round 11: *k3, k2tog, rpt from * to end.
    p Round 13: *k2, k2tog, rpt from * to end.
    p Round 14: *k1, k2tog, rpt from * to end.
    p Round 15: *k2tog, rpt from * to end.
  div(ng-if='custom.decrease_4 && custom.babyDecreases()')
    p Rounds 2, 4, 6, 8: k all sts.
    p Round 3: *k7, k2tog, rpt from * to end.
    p Round 5: *k6, k2tog, rpt from * to end.
    p Round 7: *k5, k2tog, rpt from * to end.
    p Round 9: *k4, k2tog, rpt from * to end.
    p Round 10: *k3, k2tog, rpt from * to end.
    p Round 11: *k2, k2tog, rpt from * to end.
    p Round 12: *k1, k2tog, rpt from * to end.
    p Round 13: *k2tog, rpt from * to end.
  br
  p Break yarn, leaving a long tail for weaving in ends. Cinch remaining stitches closed. Weave in ends and block gently (if desired).