#abbreviations
  h4 Abbreviations

  .flex-grid--small
    .cell
       .small BO
       .large bind off
    .cell
       .small C4B
       .large slip 2 onto cable needle and hold in back, k2, k2 from cable needle
    .cell
       .small C4F
       .large slip 2 onto cable needle and hold in front, k2, k2 from cable needle
    .cell
       .small CO
       .large cast on
    .cell
       .small k
       .large knit
    .cell
       .small m1p
       .large make one purl
    .cell
       .small m1l
       .large make one left
    .cell
       .small m1r
       .large make one right
    .cell
       .small p
       .large purl
    .cell
       .small pfb
       .large purl through the front and back loop
    .cell
       .small pm
       .large place marker
    .cell
       .small rpt
       .large repeat
    .cell
       .small sts
       .large stitches
