#converters
  .header
    h1
      span.text-teal art
      span.text-red craft
      span.text-orange code
    h2 Converters

  .flex-split
    .converter.cell
      h3 Yards to Meters

    .converter.cell
      h3 Meters to Yards