#converters
  .header
    h1
      span.text-teal art
      span.text-red craft
      span.text-orange code
    h2 Converters

  .flex-split
    .converter.cell
      h3 Yards &rarr; Meters
      input(type='number', ng-model='yards', ng-disabled='meters > 0')
      input(type='submit', ng-click='calculate()', value='Calculate')
      input(type='submit', ng-click='clear()', value='Clear')
      h4(ng-show='toMeters') {{yards}} yards is {{meters}} meters.

    .converter.cell
      h3 Meters &rarr; Yards
      input(type='number', ng-model='meters', ng-disabled='yards > 0')
      input(type='submit', ng-click='calculate()', value='Calculate')
      input(type='submit', ng-click='clear()', value='Clear')
      h4(ng-show='toYards') {{meters}} meters is {{yards}} yards.

