#converters
  .header
    h1
      span.text-teal art
      span.text-red craft
      span.text-orange code
    h2 Converters

  .flex-split
    .converter.cell
      h3 Yards
      input(type='number' ng-model='yards' ng-change='meters')

    .converter.cell
      h3 Meters
      input(type='number' ng-model='meters' ng-change='yards')