#pattern
  .header
    h1
      span.text-teal art
      span.text-red craft
      span.text-orange code
    h2 {{pattern.name}}
    h3 by {{pattern.designer}}

  .flex
    .cell-fixed-left.materials
      pattern-materials(pattern='pattern')

    .cell.content
      .custom(ng-controller='CustomCtrl', ng-hide='customInstructions')
        .pattern-custom-instructions
          .button.red.clickable(ng-click='showCustom()')&nbsp;Click to customize!
          span.text-orange&nbsp;&#9733;&nbsp;
          span
            {{pattern.customInstructions}}
          a.text-gray-lightest.right.clickable(ng-click='toggleCustomInstructions()')&nbsp; &times; Dismiss
      .pattern-directive
        .pattern-description
          h3(ng-hide='customized') {{pattern.description}}

        //- custom pattern directive conditional
        div(ng-if='pattern.patternDirective === "very-pdx"')
          very-pdx(custom='pattern.custom_fields')

      abbreviations
      .pattern-version
        pattern-errata(pattern='pattern')

    .cell-fixed-right(ng-controller='ModalCtrl')
      div(ng-repeat='image in pattern.images')
        div(ng-click='clickToOpen(image)')
          img.scaled.clickable(ng-src='{{image}}')
