#pattern
  .header
    h1
      span.text-teal art
      span.text-red craft
      span.text-orange code
    h2 {{pattern.name}}
    h3 by {{pattern.designer}}

  .flex
    .cell-fixed-left.materials
      h3 Materials

      .material(ng-if='pattern.yarns.length === 1')
        h4 Yarn
        p {{pattern.yarns[0]}}

      .material(ng-if='pattern.yarns.length > 1')
        h4 Yarns
        ul.separated(ng-repeat='yarn in pattern.yarns')
          li {{yarn.label}}: Approximately {{yarn.yards}} yards/{{yarn.yards | ydToM}} meters {{yarn.weight}} weight yarn.

      .material(ng-if='pattern.yarnsShown.length === 1', ng-hide='customInstructions')
        h4 Yarn shown
        p {{pattern.yarnsShown[0]}}

      .material(ng-if='pattern.yarnsShown.length > 1', ng-hide='customInstructions')
        h4 Yarns shown
        ul.separated(ng-repeat='yarnShown in pattern.yarnsShown')
          li {{yarnShown.label}}: {{yarnShown.info}}

      .material(ng-if='pattern.needles.length > 1')
        h4 Needles
        ul.separated(ng-repeat='needle in pattern.needles')
          li {{needle}}

      .material(ng-if='pattern.needles.length === 1')
        h4 Needle
        p {{pattern.needles[0]}}

      .material
        h4 Gauge
        p {{pattern.gauge}}

      .material(ng-if='pattern.finishedSizes.length > 1')
        h4 Finished sizes
        ul.separated(ng-repeat='size in pattern.finishedSizes')
          li {{size.label}}: {{size.measurements}}

      .material(ng-if='pattern.finishedSizes.length === 1')
        h4 Finished size
        p {{pattern.finishedSizes[0]}}

      .material
        h4 Notions
        ul.separated(ng-repeat='notion in pattern.notions')
          li {{notion}}

    .cell.content
      .custom(ng-controller='CustomCtrl', ng-hide='customInstructions')
        .pattern-custom-instructions
          .button.red.clickable(ng-click='showCustom()')&nbsp;Click to customize!
          span.text-orange&nbsp;&#9733;&nbsp;
          span
            {{pattern.customInstructions}}
          a.text-gray-lightest.right.clickable(ng-click='toggleCustomInstructions()')&nbsp; &times; Dismiss
      .pattern-directive
        .pattern-description
          h3(ng-hide='customized') {{pattern.description}}
        div(ng-if='pattern.patternDirective === "forest-park"')
          forest-park
          .special_abbreviations
            h4 Special abbreviations: cables
            cable-abbreviations-4
        div(ng-if='pattern.patternDirective === "very-pdx"')
          very-pdx(custom='pattern.custom_fields')

      abbreviations
      .pattern-version Version {{pattern.version}}

    .cell-fixed-right(ng-controller='ModalCtrl')
      div(ng-repeat='image in pattern.images')
        div(ng-click='clickToOpen(image)')
          img.scaled.clickable(ng-src='{{image}}')