ul.nav-menu
  li(ng-class="getClass('/home')")
    a(ng-href='#/home') Home
  li(ng-class="getClass('/todo')")
    a(ng-href='#/todo') Todo (sample)
  li(ng-class="getClass('/patterns')")
    a(ng-href='#/patterns') Patterns
  li(ng-class="getClass('/collections')")
    a(ng-href='#/collections') Pattern Collections
  li(ng-class="getClass('/generators')")
    a(ng-href='#/generators') Pattern generators
  li(ng-class="getClass('/converters')")
    a(ng-href='#/converters') Converters
  li(ng-class="getClass('/calculators')")
    a(ng-href='#/calculators') Calculators
