#pattern
  .header
    h1
      span.text-teal art
      span.text-red craft
      span.text-orange code
    h2 {{title}}

  .content(ng-controller='ForestParkCtrl')
    .pattern-title
      h3 by {{designer}}
    .pattern-description
      p {{description}}