#pattern
  .header
    h1
      span.text-teal art
      span.text-red craft
      span.text-orange code
    h2 {{pattern.name}}
    h3 by {{pattern.designer}}

  .flex
    .cell-fixed-left.materials
      pattern-materials(pattern='pattern')

    .cell.content
      .pattern-description
        h3 {{pattern.description}}
      .pattern-directive
        div(ng-if='pattern.patternDirective === "forest-park"')
          forest-park
          .special_abbreviations
            h4 Special abbreviations: cables
            cable-abbreviations-4
        div(ng-if='pattern.patternDirective === "very-pdx"')
          very-pdx

      abbreviations

      .pattern-version
        p Version {{pattern.version}}
        ul.separated(ng-if='pattern.updates.length > 0')
          li(ng-repeat='update in pattern.updates') {{update}}

    .cell-fixed-right(ng-controller='ModalCtrl')
      div(ng-repeat='image in pattern.images')
        div(ng-click='clickToOpen(image)')
          img.scaled.clickable(ng-src='{{image}}')
