#abbreviations
  h4 Standard abbreviations for all patterns

  .flex-grid--small
    .cell
       .small BO
       .large bind off
    .cell
       .small CO
       .large cast on
    .cell
       .small k
       .large knit
    .cell
      .small kfb
      .large knit through the front and back
    .cell
       .small m1p
       .large make one purl
    .cell
       .small m1l
       .large make one left
    .cell
       .small m1r
       .large make one right
    .cell
       .small p
       .large purl
    .cell
       .small pfb
       .large purl through the front and back loop
    .cell
       .small pm
       .large place marker
    .cell
       .small rpt
       .large repeat
    .cell
       .small sts
       .large stitches
