.flex
  .cell-small C4B
  .cell-large slip 2 onto cable needle and hold in back, k2, k2 from cable needle
.flex
  .cell-small C4F
  .cell-large slip 2 onto cable needle and hold in front, k2, k2 from cable needle

