@import "layout";
@import "typography";

#home {
  .flex-grid {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    .cell {
      // &:hover { background-color: #8332ee; }
      @include flex(0 0 100%);
      .pattern {
        max-width: 800px;
        margin: 40px auto;
      }
    }
  }

  .image {
    height: 400px;
    overflow: hidden;
    img {
      margin-top: -300px;
      width: 100%;
    }
  }

  .title {
    position: relative;
    top: 275px;
    left: 30px;
    color: #fff;
    .name {
      font-family: $accent;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -2px;
      @include adjust-font-size-to(64px);
    }
  }
}