---
title: artcraftcode.com - customizable knitting patterns for the modern knitter
layout: home
---

.patterns.flex-grid
  - pattern.images.each do |image|
    .cell
      .pattern
        .title
          %h2 forest park cowl
        .image
          %img{ src: image }
