.branding
  - if header === "h1"
    %h1
      <span class="brand_red">art</span><span class="brand_orange">craft</span><span class="brand_teal">code</span>

  - elsif header === "h2"
    %h2
      <span class="brand_red">art</span><span class="brand_orange">craft</span><span class="brand_teal">code</span>