#footer
  %p
    %a(href='http://www.ravelry.com/groups/traveling-woman') Get pattern help!
  %p
    %span &copy; 2014-2015 Liz Abinante
    %a(href='https://github.com/ArtCraftCode/artcraftcode.com/blob/master/LICENSE') (license)
    %span ArtCraftCode.com is an
    %a(href='https://github.com/ArtCraftCode/artcraftcode.com') open source project.