.header
  %img{ src: pattern.images[0] }
  .over-image
    %h1= pattern.name
    %h2
      designed by
      = pattern.designer
  .section.no-bottom
    %h2= pattern.description
  = partial(:images_2, locals: { images: pattern.images })
.sidebar-right