.header
  %img{ src: pattern.images[0] }
  %h1.over-image
    = pattern.name
  .section.no-bottom
    %h2= pattern.description
  = partial(:images, locals: { images: forest_park.images })
.sidebar-right