.title.section
  %a{ href:"/" } &laquo; home
  .right
    %a{ href: pattern.ravelry.link }
      %img.no-resize{ src: pattern.ravelry.button }
    %h4
      %a{ href: pattern.ravelry.link } View on Ravelry

  %h1= pattern.name
  %h2= pattern.description
  %h3
    designed by
    = pattern.designer