---
title: forest park cowl - by liz abinante - artcraftcode.com
---

= partial(:header, locals: { pattern: forest_park } )
= partial(:materials, locals: { pattern: forest_park } )

.instructions.section
  %h2 Instructions

  %p CO 120 sts.
  %p pm and join for knitting in the round, taking care not to twist.

  %h3 Cable Set One

  %p Round 1: *k5, p2, k8, p2, k5, p2, rpt from * to end.
  %p Round 2: *k1, p3, k1, p2, k8, p2, k1, p3, k1, p2, rpt from * to end.
  %p Round 3: *k5, p2, k8, p2, k5, p2, rpt from * to end.
  %p Round 4: *k1, p3, k1, p2, C4F, C4B, p2, k1, p3, k1, p2, rpt from * to end.
  %p Repeat Rounds 1–4 6 times more (7 times total).

  %h3 Cable Set Two

  %p Round 1: *k5, p2, k8, p2, k5, p1, m1p, p1, rpt from * to end.
  %p Round 2: *k1, p3, k1, p2, k8, p2, k1, p3, k1, p1, k1, p1, rpt from * to end.
  %p Round 3: *k5, p2, k8, p2, k5, p1, m1l, kfb, m1r, p1, rpt from * to end.
  %p Round 4: *k1, p3, k1, p2, C4F, C4B, p2, k1, p3, k1, pfb, C4F, pfb, rpt from * to end.
  %p Round 5: *k5, p2, k8, p2, k5, p2, k4, p2, rpt from * to end.
  %p Round 6: *k1, p3, k1, p2, k8, p2, k1, p3, k1, p2, k4, p2, rpt from * to end.
  %p Round 7: *k5, p2, k8, p2, k5, p2, k4, p2, rpt from * to end.
  %p Round 8: *k1, p3, k1, p2, C4F, C4B, p2, k1, p3, k1, p2, C4F, p2, rpt from * to end.
  %p Repeat Rounds 5–8 9 times more (10 times total).

  %h3 Finishing

  %p BO all sts and block gently.
  %p Pro tip: use beer, wine, or soda bottles to block the edges of your cowl to prevent unsightly fold marks.

= partial(:abbreviations, locals: { cable: true })
= partial(:images, locals: { images: forest_park.images })