---
title: in winter - by liz abinante - artcraftcode.com
---

.comment.section
  %h1 Test knitting:
  %h2 In Winter

  %p Hey! Thanks for test knitting. This pattern is still a work in progress, so there might be some errors.

  %p You can leave comments inline with each pattern section by clicki.ng the "+" symbol to the right. General comments and feedback can be left at the bottom of the page. Sroll all the way down and click "comments" to expand the form.

  %p It's super helpful to me if you can leave the comments inline with the appropriate section, but if that ends up being a pain in the ass for you, feedback at the bottom is totally fine.

  %p I won't be available at regular hours to help sort out any errors present in the pattern, but I should be able to check in about once a day and help (if someone else hasn't answered your question already).

  %p For faster help, leave your question in the Ravelry group.

  %p I am also interested in things like pattern format suggestions! This is optimized for web use, and it should be good on mobile phones and tablets (although I confess, the mobile layout is still a work in progress). 

  %p Thanks again for test knitting! 

= partial(:materials, locals: { pattern: in_winter } )

.abbreviations.section.comments
  %h2 Special abbreviations
  .flex.pad-bottom
    .cell-small CN
    .cell-large cable needle
  .flex.pad-bottom
    .cell-small wrap3
    .cell-large k st, wrapping yarn around needle 3 times (instead of just once)
  .flex.pad-bottom
    .cell-small dropX
    .cell-large
      sl next X sts onto CN, dropping the extra loops. Wrap yarn around the sts from back to front, k X from CN.
      %br
      %em Replace the X with the number (ex: 3, 5, 6) after 'drop' in the pattern.
  .flex.pad-bottom
    %p
      %em Reference bottom for standard abbreviations.


.instructions.section
  %h2 Instructions

  %h3.comments Set up

  %p Using A and smallest needle, CO 3 sts.
  %p k 6 rows, do not turn work.
  %p Rotate work 90 degrees clockwise and pick up 6 sts (3 along the row edge, and 3 along the CO edge).

.colorA.section
  %h2.comments Color A: Body

  %p Row 1 (RS): k3, pm, yo, k1, yo, pm, k1, pm, yo, k1, yo, pm, k3.
  %p Row 2 (WS): k to 2nd m, slm, p1, slm, k to end.
  %p Row 3: k3, slm, yo, k to m, yo, slm, k1, slm, yo, k to m, yo, slm, k3.
  %p Repeat Rows 2-3 until you have 189 sts total.

.colorB.section
  %h2.comments Color B: Winter Lace

  %p
    %em Switch to largest needle.

  %p Row 1 (RS): k3, slm, yo, k to last m (removing 2nd and 3rd markers as you come to them), yo, slm, k3.
  %p Row 2 (WS): k3, slm, k2, *wrap3, rpt from * to 2 sts before m, k2, slm, k3.
  %p Row 3: k3, slm, yo, k2, *drop5, rpt from * to 2 sts before m, k2, yo, slm, k3.
  %p Row 4: k all sts.
  %p Row 5: k3, slm, yo, k to m, yo, slm, k3.
  %p Row 6: k all sts.
  %p Row 7: k3, slm, yo, k to m, yo, slm, k3.
  %p Row 8: k3, slm, k2, *wrap3, rpt from * to 1 st before m, k1, slm, k3.
  %p Row 9: k3, slm, yo, k1, drop7, *drop5, rpt from * to 8 sts before m, drop6, k2, yo, slm, k3.
  %p Rows 10-13: as Rows 4-7.
  %p Rows 14-15: as Rows 4-5.
  %p Row 16: k3, slm, k1, *wrap3, rpt from * to 2 sts before m, k2, slm, k3.
  %p Row 17: k3, slm, yo, k2, *drop5, rpt from * to last 7 sts, drop6, k1, yo, slm, k3.
  %p Rows 18-21: as Rows 4-7.
  %p Rows 22-25: as Rows 4-7.

  %p
    %em 215 sts total.

.colorC.section
  %h2.comments Color C: Edging

  %p
    %em Continue using largest needle.

  %p Row 1 (RS): k3, slm, yo, kfb, k to 1 st before m, kfb, yo, slm, k3.
  %p Row 2 (WS): k all sts.
  %p Row 3: k3, slm, yo, *k2tog, yo, k1, rpt from * to m, yo, slm, k3.
  %p Row 4: k all sts.
  %p Row 5: k3, slm, yo, k to m, yo, slm, k3.
  %p Row 6: k all sts.
  %p Row 7: k3, slm, yo, k to m, yo, slm, k3.
  %p Row 8: k3, slm, yo, *k2tog, yo, k1, rpt from * to m, yo, slm, k3.
  %p Rows 9-12: as Rows 5-8.
  %p Rows 13-15: as Rows 5-8.

.finishing.section
  %h2.comments Finishing

  %p BO all sts loosely. Be sure to take care when binding off as anything too tight will restrict the shape of the shawl.
  %p Block gently.

.abbreviations.section.comments
  = partial(:abbreviations_table)

.section
  = partial(:images, locals: { images: in_winter.images })

.comment.section
  %div#disqus_thread

%script{ src:"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" }
%script{ src:"/test/javascripts/vendor/inlineDisqussions.js" }

:javascript
  disqus_shortname = 'artcraftcode';
  jQuery(document).ready(function() {
    jQuery(".comments").inlineDisqussions();
  });