---
title: in winter - by liz abinante - artcraftcode.com
---

= partial(:materials, locals: { pattern: in_winter } )

.instructions.section
  %h2 Instructions

  %h3 Set up

  %p Using A and smallest needle, CO 3 sts.
  %p k 6 rows, do not turn work.
  %p Rotate work 90 degrees clockwise and pick up 6 sts (3 along the row edge, and 3 along the CO edge).

.colorA.section
  %h2 Color A: Body

  %p Row 1 (RS): k3, pm, yo, k1, yo, pm, k1, pm, yo, k1, yo, pm, k3.
  %p Row 2 (WS): k to 2nd m, slm, p1, slm, k to end.
  %p Row 3: k3, slm, yo, k to m, yo, slm, k1, slm, yo, k to m, yo, slm, k3.
  %p Repeat Rows 2-3 until you have 189 sts total.

.colorB.section
  %h2 Color B: Winter Lace

.colorC.section
  %h2 Color C: Edging

  %p BO all sts loosely. Be sure to take care when binding off as anything too tight will restrict the shape of the shawl.
  %p Block gently.

.abbreviations.section
  = partial(:abbreviations_table)
  %h3 Special abbreviations
  .flex-grid--small
    .cell
      .small CN
      .large cable needle
    .cell
      .small wrap3
      .large k st, wrapping yarn around needle 3 times (instead of just once)
    .cell
      .small dropX
      .large sl next X sts onto CN, dropping the extra loops. Wrap yarn around the sts from back to front, k X from CN.

= partial(:images, locals: { images: in_winter.images })