---
title: artcraftcode.com - customizable knitting patterns for the modern knitter
layout: home
---

#header
  %h1
    %span.brand_red art
    %br
    %span.brand_orange craft
    %br
    %span.brand_teal code
  %h2 uniquely simple, customizable knitting patterns for the modern knitter.

.patterns.flex-grid
  - patterns.each do |pattern|
    .cell
      .pattern
        %a.title{ href: pattern.url }
          .name
            %h3
              = pattern.name
        %p
          = pattern.description
        %a{ href: pattern.url }
          %img.pattern-image{ src: pattern.images[0] }
