---
title: artcraftcode.com - customizable knitting patterns for the modern knitter
layout: home
---

.patterns.flex-grid
  - pattern.images.each do |image|
    .cell
      .pattern
        .image
          .title
            .name forest park cowl
            .description
              = pattern.description
          %img{ src: image }
