<div class="custom_pattern_modal">
  <div class="header">
    <h1 class="fancy">
      <span class="primary text">&nbsp;&#9733;&nbsp;</span>
      {{pattern.name}}
    </h1>
    <h2>By {{pattern.customize_by}}</h2>
  </div>

  <h3>Customization notes</h3>
  <p ng-if='pattern.custom_note')>{{pattern.custom_note}}</p>
  <br>

  <div class="options">
    <div class="button clickable" ng-repeat='option in pattern.custom_options' ng-click='closeThisDialog(option)')>{{option.label}}</div>
  </div>
</div>