---
title: winter sea - by liz abinante - artcraftcode.com
---

= partial(:materials, locals: { pattern: winter_sea } )

.notes.section
  %h2 Pattern notes

  %h3 Construction
  %p Knit from the bottom up, the shawl has increases incorporated into the stitch motif. With the right side facing, the shawl increases once every other row along the left edge and once every row along the right edge.
  %br
  %img.scaled(src='https://s3.amazonaws.com/artcraftcode.com/permanent_assets/winter-sea/diagram.png')

  %h3 Gauge
  %p There is a very large difference between the finished item before and after blocking, both in size and drape. Be sure to check your gauge: you want a loose fabric, not a tight one, and if your gauge is too tight the shawl will not lay very well.

.modifications.section
  %h2 Modifications
  %p This is my favorite kind of shawl: it's done when you say it's done. You can keep knitting until it has reached the size you want, or you run out of yarn, and you can knit it in any yarn weight you wish. The instructions are more of a template than a pattern, don't feel restricted by the yarn weight or size I've knit for myself.

  %h3 Finished size
  %p If you have more yarn, you can continue working in pattern until the shawl reaches your desired size, ending on Row 8 or 16 of the Chevon motif.

  %h3 Yarn weight
  %p To work with a different yarn weight, select a needle that produces a loose gauge (typically the largest needle size recommended for the yarn).

.instructions.section
  %h2 Instructions

  %h3 Set up

  %p CO 9 sts.
  %p Row 1: kfb, p7, kfb.
  %p Row 2: k1, p1, k7, p1. kfb.
  %p
    %span Row 3: kfb, k3, p5, k2, kfb.
    %em Place split-ring marker to indicate RS.
  %p Row 4: k1, p3, k5, p3, k1, kfb.
  %p Row 5: kfb, p1, k5, p3, k4, kfb.
  %p Row 6: k1, p5, k3, p5, k2, kfb.
  %p Row 7: kfb, k1, p1, k7, p1, k6, kfb.
  %p Row 8: k1, (p7, k1) twice, p2, kfb.

  %h3 Body
  %p Row 1: pfb, *k7, p1, repeat from * to last 4 sts, k3, kfb.
  %p Row 2: p5, k1, *p7, k1, repeat from * to last st, kfb.
  %p Row 3: kfb, p3, *k5, p3, repeat from * to last 4 sts, k3, kfb.
  %p Row 4: *p5, k3, repeat from * to last 2 sts, p1, kfb.
  %p Row 5: kfb, k1, p5, *k3, p5, repeat from * to last 4 sts, k3, kfb.
  %p Row 6: k2, *p3, k5, repeat from * to last 3 sts, p2, kfb.
  %p Row 7: kfb, p1, *k1, p7, repeat from * to last 4 sts, k1, p2, kfb.
  %p Row 8: k4, *p1, k7, repeat from * to last 4 sts, p1, k2, kfb.
  %p Row 9: kfb, *p7, k1, repeat from * to last 8 sts, p7, kfb.
  %p Row 10: k1, *p1, k7, repeat from * to last 2 sts, p1, kfb.
  %p Row 11: kfb, *k3, p5 to last 3 sts, k2, kfb.
  %p Row 12: k1, p3, *k5, p3, repeat from * to last 2 sts, k1, kfb.
  %p Row 13: kfb, p1, *k5, p3, repeat from * to last 5 sts, k4, kfb.
  %p Row 14: k1, p5, *k3, p5, repeat from * to last 3 sts, k2, kfb.
  %p Row 15: kfb, k1, p1, *k7, p1, repeat from * to last 7 sts, k6, kfb.
  %p Row 16: k1, *p7, k1, repeat from * to last 3 sts, p2, kfb.
  %p Repeat Body Rows 1–16 7 times more. Remove split-ring marker from RS on last repeat.

  %h3 Finishing
  %p BO all sts and block gently.

= partial(:abbreviations, locals: { cable: false })
= partial(:images, locals: { images: winter_sea.images })
